.hide{display: none;}

.modelSelect{
    margin-top: 4%;
    margin-left: 4%;
    width: 80%;
    height: 17%;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    border-color: grey;
}
.modSect{
    font-size: larger;
    font-weight: bolder;
    margin-left: 5%;
}
.form-control-rec{
    margin-left: 5%;
    margin-top: 3%;
    border-radius: 5px ;
}
.form-control-rec:required{
    border-color: #8c0000;
}

.fileInputSect{
    margin-top: 2.5%;
    margin-left: 4.5%;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    border-color: grey;
    width: 80%;
    height: 26%;
    font-size: larger;
    font-weight: bolder;
}
.spanFile{
    margin-left:5%;
    width:30%;
    font-size: x-large;
}
.formFileIn{
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 5%;
    border-style: solid;
    border-color: grey;
}
.formFileIn:invalid{
    border-color: #8c0000;
}

.topKSect{
    margin-top: 2.5%;
    margin-left: 4%;
    width: 80%;
    height: 15%;
    border-style: solid;
    border-color: grey;
    border-radius: 15px;
    border-width: 3px;
    font-size: larger;
    font-weight: bolder;
}
.metaParamSect{
    margin-top: 2.5%;
    margin-left: 4%;
    height: 29%;
    width: 90%;
    border-style: solid;
    border-color: grey;
    border-width: 2px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: larger;
    font-weight: bolder;
}

.parametersSect{
    left: 2%;
    top:-40px;
    width: 90%;
    max-height:300px;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    border-radius: 5px;
    font-size: larger;
    font-weight: 900;
}

.paramLabel{
    margin: 10px;
}

.tInLab,
.textInput{margin-left: 10px;}

.checkInput:hover{
    cursor:pointer;
}